* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #deeff7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.petmatcher-button, .petfinder-button {
  background-color: #008CBA;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 400px;
}

.petmatcher-button:hover, .petfinder-button:hover {
  background-color: #005f6b;
}

@media screen and (min-width: 600px) {
  .button-row {
      flex-direction: row;
  }

  .petmatcher-button, .petfinder-button {
      margin: 0 10px;
      margin-bottom: 0;
  }
}
